@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --color: #37474f;
  --background: whitesmoke;
  --primary: #92e3a9;
  --secondary: white;
}
* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--color);
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}
.container {
  width: 50%;
  margin: 0 auto;
}
nav {
  padding: 20px 0;
  font-size: 1rem;
}
.navBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBtns {
  display: flex;
  gap: 10px;
}
.navBtns > a,
.navBtn > a {
  text-decoration: none;
  color: var(--color);
}
.register {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 10px;
  align-items: center;
}
.register_form > form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.register_form > form > input {
  padding: 10px;
  border: none;
  background-color: var(--secondary);
  font-size: 1rem;
  outline: none;
}
.register_form > form > button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  color: var(--background);
  background-color: var(--primary);
  cursor: pointer;
}
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact_form > input,
.contact_form > textarea {
  font-size: 1rem;
  padding: 10px;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  resize: none;
}
.contact_form > textarea {
  height: 120px;
}
.contact_form > button {
  font-size: 1rem;
  border: none;
  background-color: var(--primary);
  padding: 10px;
  color: var(--background);
  cursor: pointer;
}
.homeTitle {
  font-size: 2rem;
}
.home_part_1 {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 80px;
  align-items: center;
}
.homeLinks {
  display: flex;
  gap: 10px;
  padding-top: 15px;
}
.homeLinks > a {
  text-decoration: none;
  color: var(--color);
  padding: 1px 15px;
  border-radius: 6px;
}
.homeLinks > a:first-child {
  background-color: var(--primary);
  color: var(--background);
}
.homeLinks > a:last-child {
  border: 2px solid var(--primary);
}
.home_part_2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 6px;
  margin: 50px 0 50px 0;
}
.home_part_2 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--background);
  border-radius: 6px;
}
.home_part_3 {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  align-items: center;
  gap: 80px;
}
/* ---------- */
/* responsive */
/* ---------- */
@media screen and (max-width: 980px) {
  .container {
    width: 80%;
  }
}
